@media(max-device-width: 800px) {
  body { font-size: 32px; }
}
#outer {
  border: 1px solid;
  border-radius: 1em;
  margin: auto;
  width: 40em;
  background: rgb(255, 248, 220);
  font-family: 'Noto Sans Mono CJK SC', NSimsun, monospace;
}
.inner { white-space: pre; }
.inner:first-line { line-height: 0; }
#banner {
  margin: auto;
  display: table;
  position: fixed;
  z-index: 1;
//  width: 5em;
}
footer { margin-top: 1em; font-style:italic; }
code { font-family: 'Noto Sans Mono CJK SC', NSimsun, monospace; }
:link {
  color: rgb(0,137,139);
  text-decoration: none;
}
:visited {
  color: rgb(0,100,100);
  background-color: white; /* should be inherit */
}
:active {
  color: rgb(0,200,200);
  background-color: white; /* should be inherit */
}
B.vimtag {
  color : rgb(250,0,250);
  font-weight: normal;
}
h1, h2 {
  color: rgb(82,80,82);
  text-align: center;
}
h3, h4, h5, h6 {
  color: rgb(82,80,82);
  margin: 0px;
}
.doubleline {
  border: none 0;
  border-top: 3px double #c00;
  width: 40em;
  height: 3px;
  margin: 1em auto 1em 0;
  text-align: left;
}
.singleline {
  width: 40em;
  margin: 1em auto 1em 0;
  text-align: left;
}
.headline { color: rgb(0,137,139); }
.header { color: rgb(164, 32, 246); }
.section { color: rgb(164, 32, 246); }
.keystroke { color: rgb(106, 89, 205); }
.vim { color: rgb(0, 136, 136); }
.example { color: rgb(0, 0, 255); }
.option { color: rgb(0, 139, 0); }
.special { color: rgb(106, 89, 205); }
.notvi { color: rgb(106, 89, 205); }
.note { color: blue; background-color: yellow; }
.emphasis { color: blue; }
.sub {}
.badlink { color: rgb(0,37,39); }
